<h3>About</h3>
<h4>Contact Details</h4>
<p>
The Carbon Diet is developed by James Smith. To contact me directly, please email <%= mail_to 'info@carbondiet.org', nil, :encode => 'javascript' %>.
</p>
<h4>Acknowledgments</h4>
<p>
The Carbon Diet runs <a href="http://www.rubyonrails.org">Ruby on Rails</a>.
</p>
<p>
Most of the icons used on this site are from the awesome <a href="http://www.famfamfam.com/lab/icons/silk/">Silk</a> icon
set from <a href="http://www.famfamfam.com/">famfamfam</a>. Flag images are from the
<a href="http://www.famfamfam.com/lab/icons/flags/">Flag</a> icon set on the same site. Most of the larger images are from the <a href="http://tango.freedesktop.org/">Tango project</a>.
</p>
<p>
Flash-based charting functionality is done with <a href="http://www.maani.us/xml_charts/index.php">XML/SWF Charts</a> and <a href="http://www.amcharts.com/">amCharts</a>.
</p>
<p>
The development and design of this website has been heavily influenced by <a href="http://www.librarything.com">LibraryThing</a>.
If you're into your books, I really suggest that you check them out!
</p>
<h4>License & Copyright</h4>
<p>
The Carbon Diet is open source software, licensed under the terms of the <a href="http://opensource.org/licenses/agpl-v3.html">GNU Affero General Public License v3</a>.
The latest source code is always available from <a href="http://github.com/Floppy/carbon-diet">http://github.com/Floppy/carbon-diet</a>.
</p>
<p>
All site content (other than that acquired from other sources as mentioned above) is Copyright &copy; 2007-9 James Smith.
</p>