<h3>Privacy Policy</h3>
<h4>Personal Information</h4>
<p>
The Carbon Diet will never give any of your personally-identifiable information to a third party, unless you tell us to, 
or unless required to do so by law (in which case we'll still try our hardest not to). We may share anonymised or aggregate 
information with third parties, but this will not be traceable back to you in any way.
</p>
<h4>Spam</h4>
<p>
The Carbon Diet will never send you email unless you request it, in the case of signup and password change emails.
If you've had other email claiming to be from us, it's fake!
</p>
<h4>Private Profiles</h4>
<p>
If you profile is set to 'private' (which it is by default), none of your information will ever be visible to anyone else using the website (with the exception of the site administrators).
</p>
<h4>Public Profiles</h4>
<p>
If you make your profile 'public', your 'display name', country, and emissions data will be visible to anyone who visits the site. However, we will not make any contact information (email address, website, etc.) visible to any other user of the site unless you explicitly tell us to.
</p>
<h4>Changes</h4>
<p>
This privacy policy isn't exactly written in a legal fashion, so it's possible that at some point we may have to change it.
However, if we do, we promise that we will not change the spirit of the policy, and we will publicise the changes on the 
<a href="http://carbondiet.blogspot.com">blog</a> before we do so.
</p>
