<div title="Carbon Diet" selected="true" class="panel">
  <div class="textpanel">
    <p>
      Welcome to the Carbon Diet iPhone-optimised site.
    </p>
    <p>
      You can use this site to quickly enter data for your accounts while you are
      on the move.
    </p>
    <p>
      If you need to edit existing data, set up new accounts, or view the results,
      please visit http://www.carbondiet.org on your PC. You will also need to use
      the main site to enter flights.
    </p>
  </div>
</div>


