<p>
  <big>The Carbon Diet</big>
</p>
<p>
  <strong>Sign In</strong>
</p>
<% if flash[:notice] -%>
<p>
  <em><%=h flash[:notice] %></em>
</p>
<% end -%>

<fieldset>
  <p>
    Username:
    <input type="text" name="login" size="20" emptyok="false"/>
  </p>
  <p>
    Password:
    <input type="text" name="password" size="20" emptyok="false"/>
  </p>
  <p>
    <do type="accept" label="Log In">
      <go method="post" href="/user/auth">
        <postfield name="user[login]" value="$login"/>
        <postfield name="user[password]" value="$password"/>
      </go>
    </do>
  </p>
</fieldset>
