<div id='login' selected="true" title="Log In" class="panel">
  <div style='text-align: center'>
    <img src='assets/textlogo.png'/>
  </div>
  <%= form_tag({:controller => '/user', :action => 'auth'}, {:class => 'panel', :target => "_self"}) do %>
  <fieldset>
    <div class="row">
      <label for="username">Username</label>
      <%= text_field 'user', 'login' %>
    </div>
    <div class="row">
      <label for="password">Password</label>
      <%= password_field 'user', 'password' %>
    </div>
    <div class="row">
      <label for="remember">Remember Me</label>
      <%= check_box 'user', 'remember', :checked => true %>
    </div>
  </fieldset>
  <a class="whiteButton" type="submit" href="#">Log In</a>
<% end %>
</div>