<% pagetitle "New Gas Account", "gas.png" %>

<% content_for('optionbar') do %>
  <%= option "save", :id => 'new_gas_account' %>
  <%= option "cancel" %>
<% end %>

<div class="pagecontent">
  <%= render :partial => "form" %>
</div>