<% pagetitle("New Flight", "plane.png") %>

<% content_for('optionbar') do %>
  <%= option "save", :id => "new_flight" %>
  <%= option "cancel" %>
<% end %>

<div class="pagecontent">
  
  <%= tip_box "Start typing the airport names into the boxes, wait a moment, and then select the correct result from the dropdown box." %>
  
  <%= render :partial => "form" %>

</div>