<div class="tourimage">
<%= image_tag 'tour/analysis.png' %>
</div>

<div class="tour">
<h3>So what is my contribution to climate change?</h3>
<p>
Do you know your biggest contribution to climate change? Is it:
</p>
<ul>
<li>Heating your home?</li>
<li>Wasting electricity?</li>
<li>Driving to work?</li>
</ul>
<p>
With the Carbon Diet, you can instantly see what makes up your carbon footprint, which in turn helps you to make the right decision about what to reduce first! 
</p><p>
Then, with graphs showing how your footprint varies over days, months, and years, you can see exactly how things change over time. If you turn down your heating today, by next week you'll be able to see exactly how much you're saving!
</p><p>
  <%= link_to image_tag('prev.png') + " Back", :action => '2' %>
|
  <%= link_to "Next ".html_safe + image_tag('next.png'), :action => '4' %>
</p>
</div>
