<div class="tourimage">
<%= image_tag 'tour/social.png' %>
</div>

<div class="tour">
<h3>How am I doing?</h3>
<p>
You can share your carbon emission data with the world, and see how you compare to your friends. With friend and group lists, we make it easy to connect to an online community of people like you, all cutting their carbon footprint together.
</p>
<p>
You can compare yourself directly to your friends or groupmates, see how your carbon footprint compares to theirs, and share ideas of how to lighten your load on the planet. If we work together, we can save the planet!
</p>
<p>
There is also a <a href="http://carbondiet.blogspot.com">blog</a> and a <a href="http://forum.carbondiet.org">forum</a>, where you can share ideas with other Carbon Dieters.
</p>
<% if @current_user.nil? %>
<p>
Signing up is easy, so why not register now and start cutting your carbon footprint?  
</p>
<% end %>
<p>
<%= link_to image_tag('prev.png') + "Back", :action => '4' %>
|
<% if @current_user.nil? %>
<%= link_to "Sign Up" + image_tag('next.png'), :controller => 'user', :action => 'login' %>
<% else %>
<%= link_to "Done" + image_tag('next.png'), :controller => 'profile', :login => @current_user.login %>
<% end %>
</p>
</div>
