<div class="action" id="nomore">
  <div class="actiontitle">
    No more suggestions...
  </div>
  <div class="actioncontent">
    We don't have any more suggestions right now. Check back later for more!
  </div>
</div>
