<tr>
<td>
  <%= h(invitation.group.name) %> <span class="smalltext">(invited by <%=h invitation.inviter.name %>)</span>
</td><td>
  <%= image_tag('true.png') %>
  <%= link_to("Accept", :action => 'invite_accept', :id => invitation.id) %>
</td><td>
  <%= image_tag('false.png') %>
  <%= link_to("Reject", :action => 'invite_reject', :id => invitation.id) %>
</td>
</tr>
