<div class="option">
<%= image_tag 'home.png' %>
<% if @current_user.nil? %>
<%= link_to("Log In", { :controller => "/main" } ) %>
<% else %>
<%= link_to("My Profile", { :controller => "/main" } ) %>
<% end %>
</div>
