<p>
<% for group in @groups %>
<%= image_tag 'group.png' %>
<%= link_to h(group.name), :controller => 'groups', :action => 'view', :id => group.id %> (<%= group.users.count %> members)
<br/>
<span class="smalltext"><em><%=h group.description.first(50) %>...</em></span>
<br/>
<% end %>
</p>
