<div class="cd-linktab">
  <table class="pagename">
    <tr>
      <td class="pagename_left"/>
      <td class="pagename_middle">
        <%= image_tag_with_tooltip image %>
        <%= link %>
      </td>
      <td class="pagename_right"/>
    </tr>
  </table>
</div>

