<object id="charts" type="application/x-shockwave-flash" data="/flash/charts.swf?license=J1XQZ7CKXE7L6-O5T4Q79KLYCK07EK&library_path=/flash/charts_library&xml_source=<%=h data_url %>" <%= ("width=\"" + width + "\"") unless width.nil? %> <%= ("height=\"" + height + "\"") unless height.nil? %>>
  <param name="movie" value="/flash/charts.swf?license=J1XQZ7CKXE7L6-O5T4Q79KLYCK07EK&library_path=/flash/charts_library&xml_source=<%=h data_url %>" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="white" />
  <param name="wmode" value="transparent" />
</object>