<big>New Gas Reading</big>

<%= render "shared/error_messages", :target => @reading %>

<fieldset>
  <p>
    Reading (<%=h @account.gas_unit.abbreviation %>)<br/>
    <input type="text" name="reading" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
  </p>
  <p>
    Date<br/>
    <%= wml_date_select %>
  </p>
  <p>
    <do type="accept" label="Save">
      <go method="post" href="<%= user_gas_account_gas_readings_path(@user, @account) %>">
        <postfield name="gas_reading[reading]" value="$reading"/>
        <postfield name="gas_reading[taken_on(3i)]" value="$day"/>
        <postfield name="gas_reading[taken_on(2i)]" value="$month"/>
        <postfield name="gas_reading[taken_on(1i)]" value="$year"/>
      </go>
    </do>
  </p>
</fieldset>