<ul title="Totals" selected="true">
  <li class="group">Accounts</li>
  <% @totals.each do |type| %>
    <% if type[:data][:perannum] > 0 %>
      <% if type[:name] == "Total" %>
        <li class="group">Total</li>
      <% end %>
      <li>
      <%= image_tag type[:image] unless type[:image].nil?%>
      <%=h type[:name] %>:
      <% if @current_user.people_in_household > 1 %>
      <%= tonnes(type[:data][:perannum]/@current_user.people_in_household, 2, true) %>
      <% else %>
      <%= tonnes(type[:data][:perannum], 2, true) %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>