/* Global settings */

body {
  margin: 0px;
}

img {
  vertical-align: middle;
}

a img {
  border: 0px;
}

table {
  border: 0px;
}

td {
  border: 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  border: 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.form td {
  text-align: left;
}

.smalltext {
  font-size: 0.8em;
}

.hidden {
	display: none;
}

/* Page name */

div.pagename {
  margin-right: 230px;
}

table.pagename {
  border-spacing: 0px;
  border-collapse:collapse;
  width: 100%;
  float: left;
}

td.pagename_left {
  padding: 0px;
}

td.pagename_middle {
  padding: 0px;
  text-align: left;
}

td.pagename_right {
  padding: 0px;
}

/* Link bar */

div.cd-linkbar {
  margin: 0px;
  padding: 0px;
}

div.cd-linktab  {
  width: 7.5em;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.cd-linkbar td {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 2px;
}

/* User info box */

div.userinfo {
  margin: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  text-align: right;
}

div.userinfo span {
  margin-left: 10px;
}

/* Flash warnings */

.flash {  
  padding: 7px;
  padding-bottom: 12px;
}

/* Content area */

div.cd-content {
  padding: 20px;
}

/* Page content */

div.pagecontent {
  margin-right: 230px;
  padding: 10px;
  margin-bottom: 20px;
  clear: left;
}

div.pagecontent p {
  text-align: justify;
}

div.sectiontitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Groups */

li.group {
  list-style-image: url(/images/group.png);
}

/* Option boxes */

div.optionbar {
  float: right;
  clear: right;
  width: 205px;
}

div.option {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: center;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: hidden;
}

/* Login box */

div.logincontent {
  margin-right: 380px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

div.login {
  width: 350px;
  text-align: center;
  vertical-align: center;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
}

/* Actions */

div.action {  
  width: 90%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

div.actiontitle {
  border-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

div.actioncontent {
 padding: 5px;
}

div.actioncontent img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

div.actioncontent div {
  text-align: justify;
}

/* Comments */

table.comment {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

table.comment td {
  border: 0px;
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
}

table.comment td.image {
  width: 32px;
  vertical-align: top;
}

table.comment td.delete {
  width: 16px;
  vertical-align: bottom;
}

/* Tour */

div.tour {
  padding: 10px;
  margin-left: 530px;
}

div.tourimage {
  float: left;
  clear: left;
}

.tour p {
  text-align: justify;
}

/* Tips */

table.tip {
  background-color: #f3fff3;
  border: 1px solid black;
  text-align: center;
  color: black;
}

table.tip td {
  text-align: left;
}

/* Profile pages */
div.friend {
  float: left;
  text-align: center;
  margin: 5px;
}

/* Footer */

div.cd-footer {
  margin-top: 0px;
  padding-top: 2px;
  text-align: right;
  padding-right: 10px;
}

/* Admin */

table.userlist td {
  padding-left: 2px;
  padding-right: 2px;
}

table.userlist th {
  padding-left: 2px;
  padding-right: 2px;
}

/* Utility classes */

div.clear {
  clear: both;
  height: 0px;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

div.clearright {
  clear: right;
  height: 0px;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

div.clearleft {
  clear: left;
  height: 0px;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

div.leftcolumn {
  width: 49%;
  float: left;
}

div.rightcolumn {
  width: 49%;
  float: right;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

span.help {
	position: relative;
	cursor: help;
}

span.help span {
	display: none;
}

span.help:hover span {
    display:block;
	z-index: 100;
    position:absolute;
    top:0; 
	left:16px;
	width: 90px;
    text-align: center;
}

span.sub {
  font-size: 0.6em;
}

form {
  padding: 0px;
  margin: 0px;
}

div.fullwidth {
  width: 100%;
}

li.subsection {
  list-style-image: url(/images/folder_closed.png);
}

li.subsection-open {
  list-style-image: url(/images/folder_open.png);
}

div.minibutton {
	cursor: pointer;
}

/* Standard Rails stuff */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.pagination {
  margin-top: 10px;
  background: white;
  /* self-clearing method: */
}

div.pagination a, div.pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}

div.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}

div.pagination span.current {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1;
}

div.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5;
}

div.pagination a:hover, div.pagination a:focus {
  color: #003;
  border-color: #003;
}

div.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}

div.pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}

div.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

* html div.pagination {
  height: 1%;
}

*:first-child+html div.pagination {
  overflow: hidden;
}

