<% pagetitle "New Vehicle", "car.png" %>

<% content_for('optionbar') do %>
  <%= option "save", :id => 'new_vehicle' %>
  <%= option "cancel" %>
<% end %>

<div class="pagecontent">
  <%= render :partial => "form" %>
</div>