<div class="sectiontitle">UK Energy</div>
<div>
Cut your carbon emissions with energy from <a href="">UK Energy</a>! We will provide you with 100% renewable electricity, and automatically offset your gas usage.
</div>
