<div class="sectiontitle">CO<span class="sub">2</span> sources</div>
<div class="right fullwidth">
<%= render :partial => "shared/xmlswfcharts", 
           :locals => { :data_url => @pie_url, :width => "100%", :height => "200" } %>
</div>
<span class="smalltext"><em>figures are for household</em></span>

