<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta id="viewport" name ="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <title>Carbon Diet</title>
  <%= stylesheet_link_tag 'iui' %>
  <%= javascript_include_tag 'iui', 'prototype', 'application' %>
  <link rel="apple-touch-icon" href="/images/iphone_icon.png"/>
</head>
<body>
  <div class="toolbar">
    <h1 id="pageTitle">Carbon Diet</h1>
    <a id="backButton" class="button" href="#"></a>
  </div>
  <%= yield %>
</body>
</html>
